body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
  background-color: black;
  color: #d9d9d9;
  margin: 12px;
  max-width: 1600px;
}
